<!DOCTYPE html>
<html lang="en">
<head>
   <title>
    my html file

   </title>
    
    
</head>
<body> 
    <h1> html file </h1>
    <h2> niveth</h2>
    <h3> raja</h3>
    <h3 style="font-size:60px;"> raja </h3>
    <body style="background-color:pink ">
        <h1 style="  color: blue;"> niveth < /h1>
    <p> I am first <br> time using html </p>
   <a href="https://www.w3sools.com"> this is a link </a>
   <img src="w3schools. jpg " alt="W3Schools.com" width="100" height="140">
</body>  
<title> hello welcom </title>
    </html>
